body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.logo-container img {
    max-width: 160px;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    background: #0b0384;
    color: rgb(232, 244, 245);
}

input[type="file"],
input[type="text"] {
    width: 97.5%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.filtros-fecha {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.filtros-fecha input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #2c2d2f;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f1f5f9;
}

tbody tr:hover {
    background: #dbeafe;
}

.tipo-entrada {
    color: #16a34a;
    font-weight: bold;
}

.tipo-salida {
    color: #dc2626;
    font-weight: bold;
}

.fecha-header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #334155;
    background: #e0f2fe;
    padding: 10px;
    border-radius: 8px;
}

.separator-row td {
    background: linear-gradient(90deg, #5172f6, #5876a8);
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

.separator-row td span {
    background: rgba(255,255,255,0.2);
    padding: 4px 12px;
    border-radius: 20px;
}
